<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Attendance</title>
</head>
<body>
    <h1>Attendance Records</h1>
    <table border=1>
        <thead>
            <tr>
              
                <th>Student ID</th>
                <th>Event</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Status</th>
              
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendance_records %}
                <tr>
                  
                    <td>{{ attendance.student_id }}</td>
                    <td>{{ attendance.event }}</td>
                    <td>{{ attendance.date }}</td>
                    <td>{{ attendance.hour }}</td>
                    <td>
                    {% if attendance.status_id == 'pending'%}
                    Pending
                    {% elif attendance.status_id == 'ap_by_teacher' %}
                    Aproved By Teacher
                    {% elif attendance.status_id == 'ap_by_tutor' %}
                    Aproved By Tutor
                    {% elif attendance.status_id == 'ap_by_hod' %}
                    Aproved By HoD
                    {% elif attendance.status_id == 'ap_by_tutor_2' %}
                    Aproved Successfully
                    {% elif attendance.status_id == 'ap_by_princi' %}
                    Aproved By Principal
                    {% elif attendance.status_id == 'rejected' %}
                    Rejected
                    {%endif%}
                    </td>
                 
                 
                </tr>
            {% endfor %}
         </tbody> 
    </table>
    <p><a href="{% url 'student' %}">Back</a></p>
</body>
</html>
