<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Attendance</title>
</head>
<body>
    <h1>Attendance Records</h1>
    <table>
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Student Class</th>
                <th>Roll No</th>
                <th>Event Name</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            {% for attendance in attendance_records %}
                <tr>
                    <td>{{ attendance.student_name }}</td>
                    <td>{{ attendance.student_class }}</td>
                    <td>{{ attendance.roll_no }}</td>
                    <td>{{ attendance.event_name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
